<body>
<div id="reset-password-wrap">
  <h2>Reset hasła</h2>
  <form id="reset-password-form" (ngSubmit)="resetPassword()" #f="ngForm" class="resetPassword">
    <p>
      <input type="email" id="email" name="email" placeholder="Email" required #email="ngModel" ngModel email [(ngModel)]="model.email">
    </p>
    <p>
      <input type="submit" id="reset" value="Zresetuj hasło">
    </p>
  </form>
  <hr>
  <div id="register" class="register">
    <h3>Masz konto?</h3>
    <p>
      <button onclick="window.location.href='/login'">Zaloguj się</button>
    </p>
  </div>
</div>
</body>
