<div class="content">
  <h1>Stopnie i sprawności</h1>


  <div class="form">
    <form>
      <div class="form-row">
        <select clrSelect style="width: 100%;">
          <option value="0">7 Poznańska Tratwa</option>
          <option value="1">Poznański krąg starszo harcerski</option>
        </select>
      </div>
    </form>
  </div>

  <button class="btn">Stwórz próbę</button>

  <hr/>

  <h2>Próby których jesteś opiekunem</h2>

  <div class="form-row">
    <table class="table">
      <thead>
      <tr>
        <th>Nazwa Próby</th>
        <th>Typ</th>
        <th>Imie Nazwisko</th>
        <th>Zakończ Próbę</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>HO Janka</td>
        <td>Harcerz Orli</td>
        <td>Jan Dzban</td>
        <td>
          <button class="btn">Zakończ pozytywnie</button>
          <button class="btn">Zakończ negatywnie</button>
        </td>
      </tr>
      <tr>
        <td>Cwik Janka</td>
        <td>Cwik</td>
        <td>Antek Cwaniak</td>
        <td>
          <button class="btn">Zakończ pozytywnie</button>
          <button class="btn">Zakończ negatywnie</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
