<div class="content">
  <h1>Stwórz próbę na Stopień Harcerski</h1>
  <div class="form">
    <form #form="ngForm">


      <div class="form-row-new">
        <clr-input-container>
          <input
            clrInput
            class="inputNewClr"
            type="text"
            name="Nazwa próby"
            [(ngModel)]="newAttempt.name"
            required
            size="100"
            placeholder="Nazwa próby"/>
          <clr-control-error></clr-control-error>
        </clr-input-container>
      </div>




      <div class="form-row">
        <clr-select-container>
          <select clrSelect
                  style="width: 100%;"
                  [(ngModel)]="newAttempt.scoutRankId"
                  name="Stopień Harcerski">

            <option *ngFor="let scoutRankAvailable of getAllScoutRankAvailable();"
                    [ngValue]="scoutRankAvailable">
              {{scoutRankAvailable.name}}
            </option>


          </select>
          <clr-control-error>To pole jest wymagane</clr-control-error>
        </clr-select-container>
      </div>


      <div class="form-row">
      <button class="btn" (click)="openPDF()">Wymagania na stopnie w pdf</button>
      </div>



      <div class="form-row">
        <div class="text-area-panel">
          <clr-textarea-container>
                        <textarea #areaTask
                                  clrTextarea style="width: 100% !important; height: 140px !important;"
                                  placeholder="Textarea: Wpisujesz treść zadania i dodajesz do listy poniżej, która jest wyświetlana w formie tabelki i następnie jak się utworzy próba wysyłana jako jedna zmienna. Z listy poniżej można usunąć zadanie bo jest to na froncie"></textarea>
          </clr-textarea-container>


          <div class="form-row">
            <button class="btn" (click)="addTask(areaTask.value)">Dodaj zadanie</button>
          </div>

        </div>
      </div>





      <div class="form-row">
        <table class="table">
          <thead>
          <tr>
            <th>Zadanie</th>
            <th>Akcja</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let task of getAttemptTasks();let i = index" [attr.data-index]="i" >
            <td >{{task.description}}</td>
            <td>
              <button type="button" class="btn-List" aria-label="done" (click)="removeAttemptTask(task)">
                <cds-icon shape="x"></cds-icon>
              </button></td>
          </tr>

          </tbody>
        </table>
      </div>


      <div class="form-row">
          <button  class="btn-New" (click)="submitAttempt(form)">Utwórz próbę</button>
      </div>


      <clr-modal [(clrModalOpen)]="showErrorValidationModalName">
        <h3 class="modal-title">Błąd</h3>
        <div class="modal-body">Brak nazwy próby</div>
        <div class="modal-footer">
          <button type="button" class="btn" (click)="showErrorValidationModalName = false">Zamknij</button>
        </div>
      </clr-modal>
      <clr-modal [(clrModalOpen)]="showErrorValidationModalEmptyTaskList">
        <h3 class="modal-title">Błąd</h3>
        <div class="modal-body">Twoja próba nie posiada żadnych zadań</div>
        <div class="modal-footer">
          <button type="button" class="btn" (click)="showErrorValidationModalEmptyTaskList = false">Zamknij</button>
        </div>
      </clr-modal>
    </form>
  </div>
</div>
