<div class="content">
  <h1>Zarządzaj swoim profilem</h1>

  <div class="form">
    <h3>Dane konta</h3>
    <form>

      <div class="form-row">
        <input type="text" placeholder="Imię"/>
      </div>

      <div class="form-row">
        <input type="text" placeholder="Nazwisko"/>
      </div>

      <div class="form-row">
        <input type="text" placeholder="Email"/>
      </div>

      <div class="form-row">
        <input type="text" placeholder="Data urodzenia"/>
      </div>

      <div class="form-row">
        <input type="text" placeholder="Hasło"/>
      </div>

      <div class="form-row">
        <input type="text" placeholder="Hasło ponownie"/>
      </div>

      <div class="form-row">
        <img alt="user" src="assets/images/user.svg">
      </div>

      <div class="form-row">
        <input type="text" placeholder="zdjęcie.jpg"/>
      </div>

      <div class="form-row">
        <button class="btn btn-primary">Wybierz zdjęcie</button>
      </div>

      <div class="form-row">
        <input type="text" placeholder="Ksywka/Nick"/>
      </div>

      <div class="form-row">
        <button class="btn btn-primary">Zapisz</button>
      </div>

      <div class="form-row">
        <span class="form-error">Źle uzupełniłeś dane!</span>
      </div>

    </form>

  </div>


</div>
