.form{
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 20%;
}

h3{
  margin: 0;
  padding: 0;
}

form{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-row{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-row input{
  width: 100%;
  border-radius: 5px;
  border: none;
  background-color: whitesmoke;
  padding: .3rem .3rem .3rem 1rem;
}

.form-row img{
  width: 3rem;
  border-radius: 50%;
  border: 2px solid hsl(48, 95%, 48%);
  padding: .1rem;
}

.form-row button{
  width: 100%;
  margin: 0;
  background-color: hsl(48, 95%, 48%);
  border: 1px solid hsl(48, 95%, 48%);
  color: black;
  font-weight: bold;
}

.form-error{
  color: #cc4444;
}
