<div class="content">
  <h1>Stwórz próbę na Stopień Instruktorski</h1>
  <div class="form">
    <form>
      <p>Lista administratorów</p>
      <div class="form-row">
        <table class="table">
          <thead>
          <tr>
            <th>Imie Nazwisko</th>
            <th>Email</th>
            <th>Usuń uprawnienia</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Jan Dzban</td>
            <td>jan-dzban@zh.pl</td>
            <td><cds-icon shape="times-circle"></cds-icon></td>
          </tr>
          <tr>
            <td>Adam Majeran</td>
            <td>majeran@gmail.com</td>
            <td><cds-icon shape="times-circle"></cds-icon></td>
          </tr>
          </tbody>
        </table>
      </div>
      <hr>
      <p>Nadaj uprawnienia administratora</p>
      <div class="form-row">
        <select clrSelect style="width: 100%;">
          <option value="0">Jan Dzban</option>
          <option value="1">Marian Majeranek</option>
        </select>
      </div>
      <div class="form-row">
        <button class="btn">Nadaj uprawnienia</button>
      </div>
      <hr>
      <p>Nadaj rolę naczelnika</p>
      <div class="form-row">
        <select clrSelect style="width: 100%;">
          <option value="0">Jan Dzban</option>
          <option value="1">Marian Majeranek</option>
        </select>
      </div>
      <div class="form-row">
        <button class="btn">Nadaj rolę</button>
      </div>
    </form>
  </div>
</div>
