<clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
  <a clrVerticalNavLink routerLink="userprofile" routerLinkActive="active">
    <cds-icon clrVerticalNavIcon shape="user"></cds-icon>
    Twój profil
  </a>
  <a clrVerticalNavLink routerLink="manageprofile" routerLinkActive="active">
    <cds-icon clrVerticalNavIcon shape="cog"></cds-icon>
    Zarządzanie profilem
  </a>
  <a clrVerticalNavLink routerLink="home" routerLinkActive="active">
    <cds-icon clrVerticalNavIcon shape="tasks"></cds-icon>
    Zadania
  </a>
  <a clrVerticalNavLink routerLink="createorg" routerLinkActive="active">
    <cds-icon clrVerticalNavIcon shape="tasks"></cds-icon>
    Stwórz orgaznizację
  </a>
</clr-vertical-nav>
