<clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
  <a clrVerticalNavLink routerLink="userprofile" routerLinkActive="active">
    <cds-icon clrVerticalNavIcon shape="user"></cds-icon>
    Twój profil
  </a>
  <a clrVerticalNavLink routerLink="manageprofile" routerLinkActive="active">
    <cds-icon clrVerticalNavIcon shape="cog"></cds-icon>
    Zarządzanie profilem
  </a>
  <a clrVerticalNavLink routerLink="home" routerLinkActive="active">
    <cds-icon clrVerticalNavIcon shape="tasks"></cds-icon>
    Zadania
  </a>
  <a clrVerticalNavLink routerLink="createorg" routerLinkActive="active">
    <cds-icon clrVerticalNavIcon shape="tasks"></cds-icon>
    Stwórz organizację
  </a>
  <a clrVerticalNavLink routerLink="createorder">
    <cds-icon clrVerticalNavIcon shape="flame"></cds-icon>
    Stwórz rozkaz
  </a>
  <a clrVerticalNavLink routerLink="createinsturctorattempt">
    <cds-icon clrVerticalNavIcon shape="bullseye"></cds-icon>
    Swtórze próbę na stopień instuktorski
  </a>
</clr-vertical-nav>
