<div class="content">
  <h1>Zarządzaj jednostkami podległymi jednostce:{{ getFullOrganizationName(mainOrganization) }} </h1>

  <div class="clr-row">
    <div class="clr-col-8">
      <br>
      <span class="column-header">Wybierz zarządzaną jednostkę</span>
      <select clrSelect style="width: 100%;"
              [(ngModel)]="currentOrganization"
              (change)="onChangeOrganization()"
              name="Wybrana organizacja"
      >

        <option *ngFor="let subOrganizationFromMain of getMainOrganization();"
                [ngValue]="subOrganizationFromMain">{{getFullOrganizationName(subOrganizationFromMain)}}</option>

      </select>

    </div>
    <div class="clr-col-4">
      <div class="cards-container">
        <div class="card" (click)="gotomanageorg()" >
          <div class="card-img "  >

            <img src="assets/images/interfaceImages/man.jpg" alt="img">
          </div>
          <div class="card-block">
            <p class="card-text">
              Twoje organizacje
            </p>
          </div>
        </div>
        <div class="card" (click)="gotomanageorgcommander()">
          <div class="card-img">
            <img src="assets/images/interfaceImages/pack.jpg" alt="img">
          </div>
          <div class="card-block">
            <p class="card-text">
              Zarządzaj komendantem jednostki
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <hr/>

  <h2>{{getFullOrganizationName(currentOrganization)}}</h2>
  <div class="clr-row">

    <div class="clr-col-4">
      <div class="user-profile">

        <div class="user-image">
          <img style="max-height: 200px; max-width: 200px;"  alt="user"
               [attr.src]="'http://localhost:8080/images/organizationPhoto/'+(currentOrganization.image===null?'alert-circle.svg':currentOrganization.image) | secure | async"/>
        </div>
      </div>
    </div>
    <div class="clr-col-8">

      <span class="column-header">Jednostki należące do organizacji</span>

      <table class="table">
        <thead>
        <tr>
          <th>Logo</th>
          <th>Jednostka</th>
          <th>Typ jednostki</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let subOrganization of getCurrentSubOrganization();">
          <td><img style="max-height: 30px; max-width: 30px;"  alt="user"
                   [attr.src]="'http://localhost:8080/images/organizationPhoto/'+(subOrganization.image===null?'alert-circle.svg':subOrganization.image) | secure | async"
          ></td>
          <td>{{subOrganization.name}}</td>
          <td>{{subOrganization.organizationType}}</td>
        </tr>

      </table>
      <br>
      <span class="column-header">Harcerze należący do organizacji</span>
      <table class="table">
        <thead>
        <tr>
          <th>Imie i Nazwisko</th>
          <th>Stopień Harcerski</th>
          <th>Adres email</th>
          <th>Funkcja</th>
          <th>Miano</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let userOrganization of getCurrentOrganizationUsers();">
          <td>{{userOrganization.name+" "+userOrganization.surname}}</td>
          <td>{{userOrganization.scoutRankName}}</td>
          <td>{{userOrganization.email}}</td>
          <td>{{userOrganization.organizationFunction}}</td>
          <td>{{userOrganization.nickName}}</td>
        </tr>

        </tbody>
      </table>


    </div>

  </div>

</div>
