<div class="content">
  <h1>Zarządzaj członkami jednostki</h1>

  <div class="form">
    <h3>Nazwa jednostki</h3>
    <form>
      <p>Wybierz osobę funkcyjną z listy poniżej</p>

      <div class="form-row">
        <clr-combobox-container>
          <label>My State</label>
          <clr-combobox [(ngModel)]="appUserDetails" name="myState" required>
            <clr-options>
              <clr-option *clrOptionItems="let user of getAppAllAppUsers(); field:'surname'" [clrValue]="user">
                <cds-icon shape="man" role="img" aria-label="World is turning"></cds-icon> {{user.name+" "+user.surname}}

              </clr-option>
            </clr-options>
          </clr-combobox>
          <clr-control-helper>Helper text</clr-control-helper>
          <clr-control-error>There was an error</clr-control-error>
        </clr-combobox-container>
      </div>

      <div class="form-row">
        <select clrSelect style="width: 100%;">
          <option value="0">Funkcja 1</option>
          <option value="1">Funkcja 2</option>
        </select>
      </div>

      <div class="form-row">
        <button class="btn btn-primary">Dodaj osobę</button>
      </div>

      <div class="form-row">
        <span class="form-error">Źle uzupełniłeś dane!</span>
      </div>

      <div class="form-row">

        <h3>Wybierz zarządce jednostki</h3>
        <h4 *ngIf="appUserDetails">{{appUserDetails.name+" "+appUserDetails.surname}}</h4>

        <clr-datagrid [(clrDgSingleSelected)]="appUserDetails" >
          <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
          <clr-dg-column [clrDgField]="'surname'">Surname</clr-dg-column>
          <clr-dg-column>Email</clr-dg-column>


          <clr-dg-row *clrDgItems="let user of getAppAllAppUsers()" [clrDgItem]="user">
            <clr-dg-cell>{{user.name}}</clr-dg-cell>
            <clr-dg-cell>{{user.surname}}</clr-dg-cell>
            <clr-dg-cell>{{user.email}}</clr-dg-cell>
          </clr-dg-row>

          <clr-dg-footer> <clr-dg-pagination #pagination [clrDgPageSize]="10">
            <clr-dg-page-size [clrPageSizeOptions]="[1,20,50,100]">Users per page</clr-dg-page-size>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
            of {{pagination.totalItems}} users
          </clr-dg-pagination></clr-dg-footer>
        </clr-datagrid>
      </div>


    </form>

  </div>


</div>
