<!-- <div class="container">
<form name="login" (ngSubmit)="login()" #f="ngForm" class="login">
  <div>
    <label for="email">Email</label>
    <input #username="ngModel" [(ngModel)]="model.email" name="email" required type="email"/>
  </div>
  <div>
    <label for="password">Haslo</label>
    <input #password="ngModel" [(ngModel)]="model.password" name="password" required type="password"/>
  </div>
  <div>
    <button>Zaloguj</button>
  </div>
</form>
<div>
  <a href="/register"><button>Rejestracja</button></a>
</div>
</div> -->

<body>
<div id="login-form-wrap">
  <h2>Logowanie</h2>
  <form id="login-form" (ngSubmit)="login()" #f="ngForm" class="login">
    <p>
      <input type="email" id="email" name="email" placeholder="Email" required #email="ngModel" [(ngModel)]="model.email">
    </p>
    <p>
      <input type="password" id="password" name="password" placeholder="Hasło" required #password="ngModel" [(ngModel)]="model.password">
    </p>
    <p>
      <input type="submit" id="login" value="Logowanie">
    </p>
  </form>
  <a id="forgetpassword" href="/forgetpassword">Nie pamiętasz hasła?</a>
  <hr>
  <div id="register" class="register">
    <h3>Nie masz konta?</h3>
    <p>
      <button onclick="window.location.href='/register'">Rejestracja</button>
    </p>
  </div>
</div>
</body>
