<body>
<div id="change-password-wrap">
  <h2>Reset hasła</h2>
  <form id="change-password-form" (ngSubmit)="changePassword()" #f="ngForm" class="resetPassword">
    <p>
      <input type="password" id="password" name="password" placeholder="Nowe hasło" required #password="ngModel" ngModel password [(ngModel)]="model.password">
    </p>
    <p>
      <input type="password" id="password_repeat" name="password_repeat" placeholder="Powtórz nowe hasło" required>
    </p>
    <p>
      <input type="submit" id="reset" value="Zmień hasło">
    </p>
  </form>
</div>
</body>
