<div class="content">
  <h1>Stwórz rozkaz</h1>
  <div class="form">
    <form>
      <div class="form-inline">
        <div class="subheader">
          <span>Związek Harcerstwa Rzeczypospolitej</span>
          <span>7 Poznańska Drużyna Wędrowników "Tratwa"</span>
        </div>
        <div class="icon">
          <cds-icon shape="info-circle" solid size="50"></cds-icon>
        </div>
      </div>
      <hr style="width: 80%;"/>
      <div class="form-row">
        <div class="subheader">
          Numer rozkazu
        </div>
      </div>
      <div class="form-row">
        <input type="text" placeholder="Proponowany numer rozkazu: 4.26"/>
        <input type="text" placeholder="Rozkaz"/>
        <input type="text" placeholder="Lorem ipsum"/>
      </div>
      <div class="form-row">
        <div class="subheader">
          Data rozkazu
        </div>
        <div>
          <clr-date-container>
            <input type="date" clrDate>
          </clr-date-container>
        </div>
      </div>
      <div class="form-row">
        <div class="subtitle">
          Uwagi i komentarze
        </div>
        <div class="text-area-panel">
          <clr-textarea-container>
                        <textarea clrTextarea style="width: 100% !important; height: 140px !important; margin-top: 15px;">
                        </textarea>
          </clr-textarea-container>
        </div>
      </div>
      <hr style="width: 80%;"/>
      <div class="form-row">
        <div class="subheader">
          Wyjątki od rozkazów wstawia zwierzchnik
        </div>
        <div class="subtitle">
          Skopij treść i będzie rozkaz
        </div>
        <div class="text-area-panel">
          <clr-textarea-container>
                        <textarea clrTextarea style="width: 100% !important; height: 140px !important; margin-top: 15px;">
                        </textarea>
          </clr-textarea-container>
        </div>
      </div>
      <hr style="width: 80%;"/>
      <div class="form-row">
        <div class="subheader">
          Stopnie i sprawności/Komisja Instruktorska
        </div>

        <div class="subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </div>

        <table class="table">
          <thead>
          <tr>
            <th>Lorem</th>
            <th>Ipsum</th>
            <th>Akcja</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Lorem ipsum dolor sit amet</td>
            <td>consectetur adipiscing elit</td>
            <td><cds-icon shape="times-circle"></cds-icon></td>
          </tr>
          <tr>
            <td>Lorem ipsum dolor sit amet</td>
            <td>consectetur adipiscing elit</td>
            <td><cds-icon shape="times-circle"></cds-icon></td>
          </tr>
          <tr>
            <td>Lorem ipsum dolor sit amet</td>
            <td>consectetur adipiscing elit</td>
            <td><cds-icon shape="times-circle"></cds-icon></td>
          </tr>
          </tbody>
        </table>

        <button class="btn">Dodaj akcje</button>

        <table class="table">
          <thead>
          <tr>
            <th>Lorem</th>
            <th>Ipsum</th>
            <th>Akcja</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Lorem ipsum dolor sit amet</td>
            <td>consectetur adipiscing elit</td>
            <td><cds-icon shape="times-circle"></cds-icon></td>
          </tr>
          <tr>
            <td>Lorem ipsum dolor sit amet</td>
            <td>consectetur adipiscing elit</td>
            <td><cds-icon shape="times-circle"></cds-icon></td>
          </tr>
          <tr>
            <td>Lorem ipsum dolor sit amet</td>
            <td>consectetur adipiscing elit</td>
            <td><cds-icon shape="times-circle"></cds-icon></td>
          </tr>
          </tbody>
        </table>

        <div class="subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </div>

        <div class="text-area-panel">
          <clr-textarea-container>
                        <textarea clrTextarea style="width: 100% !important; height: 140px !important; margin-top: 15px;">
                        </textarea>
          </clr-textarea-container>
        </div>
      </div>
      <hr style="width: 80%;"/>
      <div class="form-row">
        <div class="subheader">
          Jednostki [powołania, zwolnienia]
        </div>
        <div class="subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </div>
        <table class="table">
          <thead>
          <tr>
            <th>Lorem</th>
            <th>Ipsum</th>
            <th>Akcja</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Lorem ipsum dolor sit amet</td>
            <td>consectetur adipiscing elit</td>
            <td><cds-icon shape="times-circle"></cds-icon></td>
          </tr>
          <tr>
            <td>Lorem ipsum dolor sit amet</td>
            <td>consectetur adipiscing elit</td>
            <td><cds-icon shape="times-circle"></cds-icon></td>
          </tr>
          <tr>
            <td>Lorem ipsum dolor sit amet</td>
            <td>consectetur adipiscing elit</td>
            <td><cds-icon shape="times-circle"></cds-icon></td>
          </tr>

          </tbody>
        </table>

        <button class="btn">Dodaj akcje</button>

        <table class="table">
          <thead>
          <tr>
            <th>Lorem</th>
            <th>Ipsum</th>
            <th>Akcja</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Lorem ipsum dolor sit amet</td>
            <td>consectetur adipiscing elit</td>
            <td><cds-icon shape="times-circle"></cds-icon></td>
          </tr>
          <tr>
            <td>Lorem ipsum dolor sit amet</td>
            <td>consectetur adipiscing elit</td>
            <td><cds-icon shape="times-circle"></cds-icon></td>
          </tr>
          <tr>
            <td>Lorem ipsum dolor sit amet</td>
            <td>consectetur adipiscing elit</td>
            <td><cds-icon shape="times-circle"></cds-icon></td>
          </tr>
          </tbody>
        </table>

        <div class="subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </div>

        <div class="text-area-panel">
          <clr-textarea-container>
                        <textarea clrTextarea style="width: 100% !important; height: 140px !important; margin-top: 15px;">
                        </textarea>
          </clr-textarea-container>
        </div>
      </div>

      <hr style="width: 80%;"/>

      <div class="form-row">
        <div class="subheader">
          Mianowania i zwolnienia
        </div>
        <div class="subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </div>
        <table class="table">
          <thead>
          <tr>
            <th>Lorem</th>
            <th>Ipsum</th>
            <th>Akcja</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Lorem ipsum dolor sit amet</td>
            <td>consectetur adipiscing elit</td>
            <td><cds-icon shape="times-circle"></cds-icon></td>
          </tr>
          <tr>
            <td>Lorem ipsum dolor sit amet</td>
            <td>consectetur adipiscing elit</td>
            <td><cds-icon shape="times-circle"></cds-icon></td>
          </tr>
          <tr>
            <td>Lorem ipsum dolor sit amet</td>
            <td>consectetur adipiscing elit</td>
            <td><cds-icon shape="times-circle"></cds-icon></td>
          </tr>
          </tbody>
        </table>

        <button class="btn">Dodaj akcje</button>

        <table class="table">
          <thead>
          <tr>
            <th>Lorem</th>
            <th>Ipsum</th>
            <th>Akcja</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Lorem ipsum dolor sit amet</td>
            <td>consectetur adipiscing elit</td>
            <td><cds-icon shape="times-circle"></cds-icon></td>
          </tr>
          <tr>
            <td>Lorem ipsum dolor sit amet</td>
            <td>consectetur adipiscing elit</td>
            <td><cds-icon shape="times-circle"></cds-icon></td>
          </tr>
          <tr>
            <td>Lorem ipsum dolor sit amet</td>
            <td>consectetur adipiscing elit</td>
            <td><cds-icon shape="times-circle"></cds-icon></td>
          </tr>
          </tbody>
        </table>

        <div class="subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </div>

        <div class="text-area-panel">
          <clr-textarea-container>
                        <textarea clrTextarea style="width: 100% !important; height: 140px !important; margin-top: 15px;">Pochwały i nagany
                        </textarea>
          </clr-textarea-container>
        </div>

        <div class="subheader" style="margin-top:15px;">
          Pochwały i nagany, inne
        </div>

        <div class="subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </div>

        <div class="text-area-panel">
          <clr-textarea-container>
                        <textarea clrTextarea style="width: 100% !important; height: 140px !important; margin-top: 15px;">Pochwały i nagany
                        </textarea>
          </clr-textarea-container>
        </div>
      </div>
      <hr style="width: 80%;"/>

      <div class="form-row">
        <button class="btn order">Zobacz podgląd rozkazu pdf</button>
        <div class="header">
          <div class="header-text">
            Utwórz próbę
          </div>
        </div>
        <span class="form-error">
                    Źle uzupełniłeś dane
                </span>
      </div>
    </form>
  </div>
</div>
