<div class="content">
  <h1>Stwórz rozkaz</h1>
  <div class="form">
    <div>{{newOrder|json}}</div>
    <form #form="ngForm" (ngSubmit)="createOrder(form)" >
      <div class="form-inline">
        <div class="subheader clr-align-items-center">
          <span class="img-badge">
              <img class="badge-img" alt="badge" src="assets/images/orderImage.png">
          </span>
          <span>Związek Harcerstwa Rzeczypospolitej</span>
          <span>{{this.orderOrganization.name+" "+this.orderOrganization.organizationType}}</span>
        </div>
      </div>
      <hr style="width: 80%;"/>

      <div class="form-row">
        <div class="subheader">
          Typ Rozkazu
        </div>
        <div class="subtitle">

        </div>
        <select
          name="Typ rozkazu"
          [(ngModel)]="newOrder.order_type"
          clrSelect style="width: 100%;"
          required
          #order_type="ngModel">
          <option value="0" >Normalny</option>
          <option value="1">Specjalny</option>
        </select>
      </div>


      <div class="form-row">
        <div class="subheader">
          Miejsce
        </div>
          <input type="text"
                 placeholder="Miejsce"
                 name="Miejsce"
                 [(ngModel)]="newOrder.place"
                  required
                  #place="ngModel"/>
      </div>
      <hr style="width: 80%;"/>


      <div class="form-row">
        <div class="subheader">
          Cytat
        </div>

        <div class="text-area-panel">
          <clr-textarea-container>
                        <textarea clrTextarea style="width: 100% !important; height: 140px !important; margin-top: 15px;"
                                  name="Cytat"
                                  [(ngModel)]="newOrder.quote"
                                  required
                                  #quote="ngModel">
                        </textarea>
          </clr-textarea-container>
        </div>
      </div>

      <hr style="width: 80%;"/>
      <div class="form-row">
        <div class="subheader">
          Wyjątki od rozkazów
        </div>
        <div class="subtitle">

        </div>
        <div class="text-area-panel">
          <clr-textarea-container>
                        <textarea
                          clrTextarea style="width: 100% !important; height: 140px !important; margin-top: 15px;"
                          name="Wyjątki"
                          [(ngModel)]="newOrder.exceptions"
                          #exceptions="ngModel"
                        >
                        </textarea>
          </clr-textarea-container>
        </div>
      </div>
      <hr style="width: 80%;"/>
      <div class="form-row">
        <div class="subheader">
          Stopnie i sprawności/Komisja Instruktorska
        </div>


        <table class="table">
          <thead>
          <tr>
            <th>Imie Nazwisko aplikanta</th>
            <th>Stopień/Sprawność</th>
            <th>Akcja</th>
          </tr>
          </thead>
          <tbody >
          <tr *ngFor="let actionQueueLineGRANTING_MERITBADGE_AND_RANKS of getActionQueueLineGRANTING_MERITBADGE_AND_RANKS();" >
            <td>{{actionQueueLineGRANTING_MERITBADGE_AND_RANKS.appUserDetailsDTO?.name+" "+
            actionQueueLineGRANTING_MERITBADGE_AND_RANKS.appUserDetailsDTO?.surname}}</td>
            <td *ngIf="actionQueueLineGRANTING_MERITBADGE_AND_RANKS.meritBadge!=undefined">{{actionQueueLineGRANTING_MERITBADGE_AND_RANKS.meritBadge?.name}}</td>
            <td *ngIf="actionQueueLineGRANTING_MERITBADGE_AND_RANKS.scoutInstructorRank!=undefined">{{actionQueueLineGRANTING_MERITBADGE_AND_RANKS.scoutInstructorRank?.name}}</td>
            <td *ngIf="actionQueueLineGRANTING_MERITBADGE_AND_RANKS.scoutRank!=undefined">{{actionQueueLineGRANTING_MERITBADGE_AND_RANKS.scoutRank?.name}}</td>
            <td >
              <button type="button" class="btn btn-icon btn-success" aria-label="done" (click)="addToFinalOrderQueueLinesGRANTING_MERITBADGE_AND_RANKS(actionQueueLineGRANTING_MERITBADGE_AND_RANKS.id)">
                <cds-icon shape="success-standard"></cds-icon>
              </button>
            </td>


          </tr>
          </tbody>
        </table>

        <button class="btn" (click)="resetFinalOrderQueueLinesGRANTING_MERITBADGE_AND_RANKS()">Resetuj</button>

        <table class="table">
          <thead>
          <tr>
            <th>Imie Nazwisko</th>
            <th>Stopień/Sprawność</th>
            <th>Akcja</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let finalGRANTING_MERITBADGE_AND_RANKS of getFinalOrderQueueLinesGRANTING_MERITBADGE_AND_RANKS();">

            <td>{{finalGRANTING_MERITBADGE_AND_RANKS.appUserDetailsDTO?.name+" "+
            finalGRANTING_MERITBADGE_AND_RANKS.appUserDetailsDTO?.surname}}</td>
            <td *ngIf="finalGRANTING_MERITBADGE_AND_RANKS.meritBadge!=undefined">{{finalGRANTING_MERITBADGE_AND_RANKS.meritBadge?.name}}</td>
            <td *ngIf="finalGRANTING_MERITBADGE_AND_RANKS.scoutInstructorRank!=undefined">{{finalGRANTING_MERITBADGE_AND_RANKS.scoutInstructorRank?.name}}</td>
            <td *ngIf="finalGRANTING_MERITBADGE_AND_RANKS.scoutRank!=undefined">{{finalGRANTING_MERITBADGE_AND_RANKS.scoutRank?.name}}</td>
            <td >
              <button type="button" class="btn btn-icon btn-success" aria-label="done" (click)="removeFromFinalOrderQueueLinesGRANTING_MERITBADGE_AND_RANKS(finalGRANTING_MERITBADGE_AND_RANKS.id)">
                <cds-icon shape="success-standard"></cds-icon>
              </button>
            </td>
          </tr>
          </tbody>
        </table>

        <div class="subtitle">
          Text dodatkowy
        </div>

        <div class="text-area-panel">
          <clr-textarea-container>
                        <textarea clrTextarea style="width: 100% !important; height: 140px !important; margin-top: 15px;"
                                  name="TextDodatkowyStopniOrazSprawnosci"
                                  [(ngModel)]="newOrder.customTextScoutRankAndMeritBadge"
                                  #others="ngModel">
                        >
                        </textarea>
          </clr-textarea-container>
        </div>
      </div>
      <hr style="width: 80%;"/>
      <div class="form-row">
        <div class="subheader">
          Jednostki [powołania]
        </div>

        <table class="table">
          <thead>
          <tr>
            <th>Organizacja</th>
            <th>Akcja</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let actionQueueLineCREATE_ORGANIZATION of getActionQueueLineCREATE_ORGANIZATION();">
            <td>{{actionQueueLineCREATE_ORGANIZATION.organization?.organizationType+" "+actionQueueLineCREATE_ORGANIZATION.organization?.name}}</td>
            <button type="button" class="btn btn-icon btn-success" aria-label="done" (click)="addToFinalOrderQueueLinesCREATE_ORGANIZATION(actionQueueLineCREATE_ORGANIZATION.id)">
              <cds-icon shape="success-standard"></cds-icon>
            </button>
          </tr>
          </tbody>
        </table>

        <button class="btn" (click)="resetFinalOrderQueueLinesCREATE_ORGANIZATION()" >Resetuj</button>

        <table class="table">
          <thead>
          <tr>
            <th>Organizacja</th>
            <th>Akcja</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let finalCREATE_ORGANIZATION of getFinalOrderQueueLinesCREATE_ORGANIZATION();">
            <td>{{finalCREATE_ORGANIZATION.organization?.organizationType+" "+finalCREATE_ORGANIZATION.organization?.name}}</td>
            <td >
              <button type="button" class="btn btn-icon btn-success" aria-label="done" (click)="removeFromFinalOrderQueueLinesCREATE_ORGANIZATION(finalCREATE_ORGANIZATION.id)">
                <cds-icon shape="success-standard"></cds-icon>
              </button>
            </td>
          </tr>
          </tbody>
        </table>

        <div class="subtitle">
          Text dodatkowy
        </div>

        <div class="text-area-panel">
          <clr-textarea-container>
                        <textarea clrTextarea style="width: 100% !important; height: 140px !important; margin-top: 15px;"
                                  name="TextDodatkowyJednostki"
                                  [(ngModel)]="newOrder.customTextOrganization"
                                  #others="ngModel">
                        >
                        </textarea>
          </clr-textarea-container>
        </div>
      </div>

      <hr style="width: 80%;"/>

      <div class="form-row">
        <div class="subheader">
          Mianowania i zwolnienia
        </div>
        <table class="table">
          <thead>
          <tr>
            <th>Imie Nazwisko</th>
            <th>Funkcja</th>
            <th>Mianowanie/Zwolnienie</th>
            <th>Akcje</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let actionQueueLineGrantingAndRevoking_FUNCTION of getActionQueueLineGrantingAndRevoking_FUNCTION();">
            <td>{{actionQueueLineGrantingAndRevoking_FUNCTION.appUserDetailsDTO?.name+" "+actionQueueLineGrantingAndRevoking_FUNCTION.appUserDetailsDTO?.surname}}</td>
            <td>{{actionQueueLineGrantingAndRevoking_FUNCTION.role?.name}}</td>
            <td *ngIf="actionQueueLineGrantingAndRevoking_FUNCTION.action_type=='GRANTING_FUNCTION'">Mianowanie</td>
            <td *ngIf="actionQueueLineGrantingAndRevoking_FUNCTION.action_type=='REVOKING_FUNCTION'">Zwolnienie</td>
            <button type="button" class="btn btn-icon btn-success" aria-label="done" (click)="addToFinalOrderQueueLinesGrantingAndRevoking_FUNCTION(actionQueueLineGrantingAndRevoking_FUNCTION.id)">
              <cds-icon shape="success-standard"></cds-icon>
            </button>
          </tr>
          </tbody>
        </table>

        <button class="btn" (click)="resetFinalOrderQueueLinesGrantingAndRevoking_FUNCTION()" >Resetuj</button>

        <table class="table">
          <thead>
          <tr>
            <th>Imie Nazwisko</th>
            <th>Funkcja</th>
            <th>Mianowanie/Zwolnienie</th>
            <th>Akcje</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let finalGrantingAndRevoking_FUNCTION of getFinalOrderQueueLinesGrantingAndRevoking_FUNCTION();">
            <td>{{finalGrantingAndRevoking_FUNCTION.appUserDetailsDTO?.name+" "+finalGrantingAndRevoking_FUNCTION.appUserDetailsDTO?.surname}}</td>
            <td>{{finalGrantingAndRevoking_FUNCTION.role?.name}}</td>
            <td *ngIf="finalGrantingAndRevoking_FUNCTION.action_type=='GRANTING_FUNCTION'">Mianowanie</td>
            <td *ngIf="finalGrantingAndRevoking_FUNCTION.action_type=='REVOKING_FUNCTION'">Zwolnienie</td>
            <button type="button" class="btn btn-icon btn-success" aria-label="done" (click)="removeFromFinalOrderQueueLinesGrantingAndRevoking_FUNCTION(finalGrantingAndRevoking_FUNCTION.id)">
              <cds-icon shape="success-standard"></cds-icon>
            </button>
          </tr>
          </tbody>
        </table>

        <div class="subtitle">
          Text dodatkowy
        </div>

        <div class="text-area-panel">
          <clr-textarea-container>
                        <textarea clrTextarea style="width: 100% !important; height: 140px !important; margin-top: 15px;"
                                  name="TextDodatkowyMianowaniaIZwolnienia"
                                  [(ngModel)]="newOrder.customTextRole"
                                  #others="ngModel">
                        >
                        </textarea>
          </clr-textarea-container>
        </div>

        <div class="subheader" style="margin-top:15px;">
          Pochwały i nagany, inne
        </div>



        <div class="text-area-panel">
          <clr-textarea-container>
                        <textarea clrTextarea style="width: 100% !important; height: 140px !important; margin-top: 15px;"
                                  name="Inne"
                                  [(ngModel)]="newOrder.others"
                                  #others="ngModel">
                        </textarea>
          </clr-textarea-container>
        </div>
      </div>
      <hr style="width: 80%;"/>

      <div class="form-row">
        <button class="btn order" (click)="viewOrder()">Zobacz podgląd rozkazu pdf</button>


          <button  type="submit" class="btn-New" > Utwórz próbę</button>

        <div class="modal">
          <div class="modal-dialog" role="dialog" aria-hidden="true">
            <div class="modal-content">
              <div class="modal-header">
                <button aria-label="Close" class="close" type="button">
                  <clr-icon aria-hidden="true" shape="close"></clr-icon>
                </button>
                <h3 class="modal-title">I have a nice title</h3>
              </div>
              <div class="modal-body">
                <p>But not much to say...</p>
              </div>
              <div class="modal-footer">
                <button class="btn btn-outline" type="button">Cancel</button>
                <button class="btn btn-primary" type="button">Ok</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-backdrop" aria-hidden="true"></div>


      </div>
    </form>
  </div>
</div>


