<div class="content">
  <h1>Stopnie i sprawności</h1>
  <div class="wrapper">
      <div class="form-row">
        <select clrSelect style="width: 100%;">
          <option value="0">4 Poznański Hufiec</option>
          <option value="1">5 Poznański Hufiec</option>
        </select>
      </div>
      <div class="form-row">
        <div class="header">
          <div class="header-text">
            Stwórz próbę wewnątrz tej organizacji
          </div>
        </div>
      </div>
  </div>
</div>
