<div class="content">
  <h1>Zeszyt rozkazów</h1>

  <button class="btn">Utwórz nowy rozkaz</button>

  <hr/>

  <div class="form-row">
    <table class="table">
      <thead>
      <tr>
        <th>Numer rozkazu</th>
        <th>Data</th>
        <th>Twórca</th>
        <th>Pobieranie</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
        <button class="btn">Pobierz PDF</button>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
        <button class="btn">Pobierz PDF</button>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
        <button class="btn">Pobierz PDF</button>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
        <button class="btn">Pobierz PDF</button>
      </tr>
      </tbody>
    </table>
  </div>
</div>
