.wrapper{
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 50%;
}

form{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-row select {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: whitesmoke;
  padding: .3rem .3rem .3rem 1rem;
}

.form-row{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-row input{
  width: 80%;
  border-radius: 5px;
  border: none;
  background-color: whitesmoke;
  padding: .3rem .3rem .3rem 1rem;
}

.form-row img{
  width: 3rem;
  border-radius: 50%;
  border: 2px solid hsl(48, 95%, 48%);
  padding: .1rem;
}

.form-row button{
  width: 100%;
  margin: 0;
  background-color: hsl(48, 95%, 48%);
  border: 1px solid hsl(48, 95%, 48%);
  color: black;
  font-weight: bold;
}

.form-error{
  color: #cc4444;
}

::ng-deep .clr-form-control {
  width: 80% !important;
}

:host ::ng-deep .clr-control-container {
  width: 100% !important;
}

:host ::ng-deep .clr-select-wrapper {
  width: 100% !important;
}

:host ::ng-deep clr-textarea-container {
  margin: 0px !important;
}

.header{
  width: 80%;
  margin: 10px 0px;
  background-color: hsl(48, 95%, 48%);
  border: 1px solid hsl(48, 95%, 48%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-text {
  color: black;
  text-align: center !important;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text-area-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
}

.form button {
  width: 50%;
  margin-top: 20px;
  background-color: hsl(48, 95%, 48%);
  border: 1px solid hsl(48, 95%, 48%);
  color: black;
  font-weight: bold;
  font-size: 16px;
  text-transform: none;
  letter-spacing: normal;
}

.form-error{
  color: #cc4444;
  margin-top: 10px;
}
