<div class="content">
  <h1>Edytuj orgazniację</h1>

  <div class="form">
    <h3>Nazwa jednostki</h3>
    <form>

      <div class="form-row">
        <input type="text" placeholder="Nazwa"/>
      </div>

      <div class="form-row">
        <img alt="user" src="assets/images/info.svg">
      </div>

      <div class="form-row">
        <input type="text" placeholder="logo_organizacji.jpg"/>
      </div>

      <div class="form-row">
        <button class="btn btn-primary">Wybierz zdjęcie</button>
      </div>


      <div class="form-row">
        <button class="btn btn-primary">Zapisz</button>
      </div>

      <div class="form-row">
        <span class="form-error">Źle uzupełniłeś dane!</span>
      </div>

    </form>
    <hr>
  </div>
</div>
