<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://unpkg.com/@clr/ui/clr-ui.min.css" />
</head>
<body>
<div class="flex-container">
<div id="side-nav-wrap">
<clr-vertical-nav >
  <clr-vertical-nav-group
    routerLinkActive="active">
    <cds-icon shape="user" clrVerticalNavIcon></cds-icon>
    Normal
    <clr-vertical-nav-group-children>
      <a clrVerticalNavLink
         routerLink="./normal/pidgey"
         routerLinkActive="active">
        Pidgey
      </a>
      <a clrVerticalNavLink
         routerLink="./normal/snorlax"
         routerLinkActive="active">
        Snorlax
      </a>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>
  <clr-vertical-nav-group
    routerLinkActive="active">
    <cds-icon shape="flame" clrVerticalNavIcon></cds-icon>
    Fire
    <clr-vertical-nav-group-children>
      <a clrVerticalNavLink
         routerLink="./fire/charmander"
         routerLinkActive="active">
        Charmander
      </a>
      <a clrVerticalNavLink
         routerLink="./fire/charizard"
         routerLinkActive="active">
        Charizard
      </a>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>
  <clr-vertical-nav-group
    routerLinkActive="active">
    <cds-icon shape="bolt" clrVerticalNavIcon></cds-icon>
    Electric
    <clr-vertical-nav-group-children>
      <a clrVerticalNavLink
         routerLink="./electric/pikachu"
         routerLinkActive="active">
        Pikachu
      </a>
      <a clrVerticalNavLink
         routerLink="./electric/raichu"
         routerLinkActive="active">
        Raichu
      </a>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>
  <a clrVerticalNavLink routerLinkActive="active" routerLink="./credit">
    <cds-icon shape="certificate" clrVerticalNavIcon></cds-icon>
    Credit
  </a>
</clr-vertical-nav>
</div>
<div id="main-board-wrap" class="flex-child">
  <h2>Czuwaj</h2>
  <a>Zobacz co jeszcze czeka do odkrycia</a>
  <hr>
  <div class="clr-row">
    <div>
      <a href="..." class="card clickable">
        <div class="card-img">
          <img src="...">
        </div>
        <div class="card-block">
          <p class="card-text">
            Mój profil
          </p>
        </div>
      </a>
    </div>
    <div>
      <a href="..." class="card clickable">
        <div class="card-img">
          <img src="...">
        </div>
        <div class="card-block">
          <p class="card-text">
            Mój profil
          </p>
        </div>
      </a>
    </div>
    <div>
      <a href="..." class="card clickable">
        <div class="card-img">
          <img src="...">
        </div>
        <div class="card-block">
          <p class="card-text">
            Mój profil
          </p>
        </div>
      </a>
    </div>
  </div>
</div>
</div>
</body>
</html>
