<div class="content">
  <h1>Zarządzaj swoim profilem</h1>

  <div class="form">
    <h3>Dane harcerskie</h3>
    <form>

      <div class="form-row">
        <input type="text" placeholder="Ksywka/Nick"/>
      </div>

      <div class="form-row">
        <select clrSelect style="width: 100%;">
          <option value="0">Stopień harcerski 1</option>
          <option value="1">Stopień harcerski 2</option>
        </select>
      </div>

      <div class="form-row">
        <select clrSelect style="width: 100%;">
          <option value="0">Harcmistrz</option>
          <option value="1">Podharcmistrz</option>
          <option value="1">Instruktor</option>
          <option value="1">brak stopnia</option>
        </select>
      </div>


      <div class="form-row">
        <button class="btn btn-primary">Zapisz</button>
      </div>

      <div class="form-row">
        <span class="form-error">Źle uzupełniłeś dane!</span>
      </div>

    </form>

  </div>


</div>
