/* You can add global styles to this file, and also import other style files */
html, body, p, span{
  padding: 0;
  margin: 0;
}

:root {
  --defoultColor:  hsl(48, 95%, 48%);
  --scoutInstructorColor: var(--defoultColor);
}
body{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

hr{
  width: 80%;
  border: 1px solid hsl(48, 95%, 48%);
}
