<button (click)="signOut()">Wyloguj</button>
<div class="content">

  <div class="content-header">
    <h1>Czuwaj!</h1>
    <h4>Zobacz co jeszcze czeka do odkrycia</h4>
  </div>

  <hr/>

  <div class="cards-container">
    <div class="card clickable">
      <div class="card-img">
        <img src="assets/images/interfaceImages/mirror.jpg" alt="img">
      </div>
      <div class="card-block">
        <p class="card-text">
          Mój profil
        </p>
      </div>
    </div>
    <div class="card clickable">
      <div class="card-img">
        <img src="assets/images/interfaceImages/run_bridge.jpg" alt="img">
      </div>
      <div class="card-block">
        <p class="card-text">
          Próby na stopnie i sprawności
        </p>
      </div>
    </div>
    <div class="card clickable">
      <div class="card-img">
        <img src="assets/images/interfaceImages/map_and_people.jpg" alt="img">
      </div>
      <div class="card-block">
        <p class="card-text">
          Móje jednostki
        </p>
      </div>
    </div>
    <div class="card clickable">
      <div class="card-img">
        <img src="assets/images/interfaceImages/pensils.jpg" alt="img">
      </div>
      <div class="card-block">
        <p class="card-text">
          Zarządzanie kontem
        </p>
      </div>
    </div>
  </div>

  <hr/>

  <div class="content-header">
    <h4>Twoje najbliższe zadania do zrobienia</h4>
  </div>

  <div class="tasks-container">
    <span>1. Coś tam do zrobiebia dziś</span>
    <span>2. Coś tam do zrobiebia jutro</span>
  </div>

</div>
