<div class="content">
  <h1>Zarządzaj swoimi jednostkami</h1>

  <div class="clr-row">
    <div class="clr-col-5">
      <span class="column-header">Edytuj Twoje jednostki</span>

      <table class="table">
        <thead>
        <tr>
          <th>Logo</th>
          <th>Jednostka</th>
          <th>Funkcja</th>
          <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><cds-icon shape="info-circle"></cds-icon></td>
          <td>7 Poznańska Drużyna Wędrowników Tratwa</td>
          <td>Drużynowy</td>
          <td></td>
        </tr>
        <tr>
          <td><cds-icon shape="info-circle"></cds-icon></td>
          <td>Poznański krąg starszo harcerski</td>
          <td>Przewodniczący</td>
          <td></td>
        </tr>
        </tbody>
      </table>
      <br>
      <span class="column-header">Wybierz zarządzaną jednostkę</span>
      <select clrSelect style="width: 100%;">
        <option value="0">7 Poznańska Drużyna Wędrowników Tratwa</option>
        <option value="1">Poznański krąg starszo harcerski</option>
      </select>

    </div>
    <div class="clr-col-7">
  <div class="cards-container">
    <div class="card">
      <div class="card-img">
        <img src="assets/images/image_placeholder.png" alt="img">
      </div>
      <div class="card-block">
        <p class="card-text">
          Organizacje Podległe
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-img">
        <img src="assets/images/image_placeholder.png" alt="img">
      </div>
      <div class="card-block">
        <p class="card-text">
          Dodaj Nową jednostkę podległą
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-img">
        <img src="assets/images/image_placeholder.png" alt="img">
      </div>
      <div class="card-block">
        <p class="card-text">
          Zarządzaj członkami jednostki
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-img">
        <img src="assets/images/image_placeholder.png" alt="img">
      </div>
      <div class="card-block">
        <p class="card-text">
          Rozkazy
        </p>
      </div>
    </div>
  </div>
    </div>
  </div>


  <hr/>

  <h2>7 Poznańska Drużyna Wędrowników Tratwa</h2>
  <div class="clr-row">

    <div class="clr-col-4">
    <div class="user-profile">

      <div class="user-image">
        <img  class="user-img" alt="user" src="assets/images/info.svg">
        <span class="img-badge">
        <img class="badge-img" alt="badge" src="assets/images/user.svg">
      </span>
      </div>
    </div>
    </div>
    <div class="clr-col-8">

      <span class="column-header">Jednostki należące do organizacji</span>

      <table class="table">
        <thead>
        <tr>
          <th>Logo</th>
          <th>Jednostka</th>
          <th>Typ jednostki</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><cds-icon shape="info-circle"></cds-icon></td>
          <td>Kuny</td>
          <td>Zastęp</td>
        </tr>
        <tr>
          <td><cds-icon shape="info-circle"></cds-icon></td>
          <td>Jenoty</td>
          <td>Zastęp</td>
        </tr>
        <tr>
          <td><cds-icon shape="info-circle"></cds-icon></td>
          <td>Łosie</td>
          <td>Zastęp</td>
        </tr>
        </tbody>
      </table>
      <br>
      <span class="column-header">Harcerze należący do organizacji</span>
      <table class="table">
        <thead>
        <tr>
          <th>Imie i Nazwisko</th>
          <th>Stopień Harcerski</th>
          <th>Adres email</th>
          <th>Funkcja</th>
          <th>Miano</th>
          <th>Nazwa jednostki podrzędnej</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Jan Dzban</td>
          <td>Cwik</td>
          <td>jan-dzban@zh.pl</td>
          <td>Drużynowy</td>
          <td>Waleczny Łoś</td>
          <td>Zastęp Zastępowych</td>
        </tr>
        <tr>
          <td>Kajetan Majeranek</td>
          <td>Harcerz Orli</td>
          <td>major@gmail.com</td>
          <td>Przyboczny</td>
          <td>Gruby Łoś</td>
          <td>Zastęp Zastępowych</td>
        </tr>
        <tr>
          <td>Antek Cwaniak</td>
          <td>Młodzik</td>
          <td>cwaniak@gmail.com</td>
          <td>Szeregowy</td>
          <td>Mały Łoś</td>
          <td>Łosie</td>
        </tr>
        </tbody>
      </table>


    </div>

  </div>

</div>
