<div class="content">

  <div class="user-profile" *ngIf="userDetails">

    <div class="user-image">
      <div class="user-data">
        <span>{{ userDetails.data.userProfilDetails.nickName}}</span>
        <clr-progress-bar clrValue="72" clrSuccess clrLabeled></clr-progress-bar>
      </div>
      <img  class="user-img" alt="user" src="assets/images/user.svg">
      <span class="img-badge">
        <img class="badge-img" alt="badge" src="assets/images/polska-stary-krzyz-harcerski-czuwaj-cdh-19467-removebg-preview.png">
      </span>
    </div>

    <div class="user-info">
      <span>{{ userDetails.data.userProfilDetails.name}} {{ userDetails.data.userProfilDetails.surname}}</span>
      <span>{{ userDetails.data.userProfilDetails.scoutRank.name}}</span>
      <span>{{ userDetails.data.userProfilDetails.nickName}}</span>
      <span>{{ userDetails.data.userProfilDetails.scoutInstructorRank.name}}</span>
    </div>
  </div>

  <hr/>

  <div class="clr-row">

    <div class="clr-col-6 center" *ngIf="userDetails">

      <span class="column-header">Twoje sprawności</span>

      <div class="clr-row">
        <div class="clr-col-4 center" *ngFor="let meritBadge of userDetails.data.userProfilDetails.meritBadges">
          <div class="ef-image-container">
            <img class="ef-image" alt="{{meritBadge.name}}" title="{{meritBadge.name}}" src="assets/images/meritBadgePhoto/{{meritBadge.imageURL}}">
          </div>
        </div>
      </div>
    </div>

    <div class="clr-col-6">

      <span class="column-header">Twoje jednostki</span>

      <table class="table">
        <thead>
        <tr>
          <th>Decimal</th>
          <th>Hexadecimal</th>
          <th>Binary</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><cds-icon shape="info-circle"></cds-icon></td>
          <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
          <td>Lorem</td>
        </tr>
        <tr>
          <td><cds-icon shape="info-circle"></cds-icon></td>
          <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
          <td>Lorem</td>
        </tr>
        <tr>
          <td><cds-icon shape="info-circle"></cds-icon></td>
          <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
          <td>Lorem</td>
        </tr>
        <tr>
          <td><cds-icon shape="info-circle"></cds-icon></td>
          <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
          <td>Lorem</td>
        </tr>
        </tbody>
      </table>

      <span class="column-header">Twoje próby</span>

      <span class="column-subheader">Na stopnie harcerskie</span>
      <table class="table">
        <thead>
        <tr>
          <th>Decimal</th>
          <th>Hexadecimal</th>
          <th>Binary</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>1</td>
          <td>Lorem</td>
        </tr>
        <tr>
          <td>5</td>
          <td>5</td>
          <td></td>
        </tr>
        <tr>
          <td>10</td>
          <td>A</td>
          <td></td>
        </tr>
        </tbody>
      </table>
      <span class="column-subheader">Na stopnie instruktorskie</span>
      <table class="table">
        <thead>
        <tr>
          <th>Decimal</th>
          <th>Hexadecimal</th>
          <th>Binary</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>1</td>
          <td>Lorem</td>
        </tr>
        <tr>
          <td>5</td>
          <td>5</td>
          <td></td>
        </tr>
        <tr>
          <td>10</td>
          <td>A</td>
          <td></td>
        </tr>
        </tbody>
      </table>

    </div>

  </div>

</div>
