<div class="content">
  <h1>Zarządzaj komendatem jednostki</h1>

  <div class="form">
    <h3>Nazwa jednostki</h3>
    <form>
      <p>Wybierz komendanta jednostki</p>

      <div class="form-row">
        <select clrSelect style="width: 100%;">
          <option value="0">Jan Dzban</option>
          <option value="1">Marian Majeranek</option>
        </select>
      </div>

      <div class="form-row">
        <button class="btn btn-primary">Nadaj komendanta</button>
      </div>

      <div class="form-row">
        <span class="form-error">Źle uzupełniłeś dane!</span>
      </div>

    </form>

  </div>


</div>
